
.card.mx-auto {
    box-shadow: 0 2em 4em rgba(0, 0, 0, .2);
    height: 30em;
    background: linear-gradient(180deg, #2e35ff 0%, #0400f5 14%, #02008a 28%, #020075 44%, #010052 60%, #000000 83%);
    width: 90%;
    position: relative;
    border-radius: 5px;
    border: 0.2em solid #000000;

}

.details {
    box-shadow: 0 0.2em 1em #263a3a;
    border: 0.1em solid #272c4f;
    background-color: #5d6998;
}

.details:hover {
    background-color: #313865;
}

.cart {
    background-color: #000f43;
    color: white;
    border: 0.1em solid #01091f;
    box-shadow: 0 0.2em 1em #01091f;
}

.cart:hover {
    background-color: #01091f;
    border: 0.1em solid #01091f;
    color: white;
}

.buttons {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.card>img {
    height: 10em;
    width: 100%;
    object-fit: contain;
    background: white;
    border-radius: 0;
    border-right: 0.1em solid #000000;
    border-left: 0.1em solid #000000;
    border-bottom: 0.2em solid #000000;
    box-shadow: inset 0.2em 0 1em 0.5em rgba(130, 130, 130, 0.5);
}


.page-link {
    color: #a3cfbb;
    background-color: black;
}

.nav-pagination a:hover {
    color: #a3cfbb;
    background-color: #010618;
}

.page-item.active .page-link {
    color: #a3cfbb;
    background-color: #203a57;
    border: solid white 0.1em;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
    color: #a3cfbb;
    background-color: #010618;
}


.page-item.disabled .page-link {
    background-color: #181818;
    color: white;
}

