{% extends "base.html" %}
{% load static %}


{% block css %}
	<link href="{% static 'goods/deps/css/catalog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row mt-5 pt-5">
		<div class=" col-12 col-md-6 col-xl-4 p-5 ">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/4080ti.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html" class="btn details my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-4 p-5">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/5600xt.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html"
							   class="btn details px-auto my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-12 col-md-6 col-xl-4 p-5 ">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/4080ti.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html"
							   class="btn details px-auto my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-4 p-5">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/5600xt.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html"
							   class="btn details px-auto my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-12 col-md-6 col-xl-4 p-5 ">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/4080ti.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html"
							   class="btn details px-auto my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-4 p-5">
			<div class="card mx-auto bg-black text-white border-black">
				<img class='mx-auto img-thumbnail bg-black border-black w-100 h-100'
				     src="../../../untitled1/goods/static/img/catalog/gpu/5600xt.png" alt="image 5600xt"
				/>
				<div class="card-body text-center mx-auto">
					<div class='cvp'>
						<h5 class="card-title font-weight-bold">RX 5600XT</h5>
						<p class="card-text">$299</p>
						<div class="buttons">
							<a href="../../../untitled1/goods/product.html"
							   class="btn details px-auto my-4 text-white bg-black">view
								details</a><br/>
							<a href="#" class="btn cart px-auto">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<nav class="nav-pagination" aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link">Previous</a>
			</li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
{% endblock %}

{% block footer %}
	<footer class="bg-black py-3">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; An1cer</p>
		</div>
	</footer>
{% endblock %}