{% extends "base.html" %}
{% load static %}


{% block css %}
	<link rel="stylesheet" href={% static 'goods/deps/css/product.css' %}>
{% endblock %}

{% block content %}
	<div class="container product-card m-2 p-2">
		<div class="product-header">
			<img src="{{ product.image }}" alt="Фото {{ product.name }}">

			<div class="product-info">
				<h5>{{ product.name }}</h5>
				<p><b>{{ product.price }}$</b></p>
			</div>
			<div>
				<a href="/cart" class="add-to-cart">Add to cart</a>
			</div>
		</div>
		<hr class="my-2">
		<div class="product-specs">
			<h2>Characteristics</h2>
			<table>
				{% for key, value in product.description.items %}
					<tr class="border">
						<th class="border-end">{{ key }}</th>
						<td>{{ value }}</td>
					</tr>
				{% endfor %}
			</table>


		</div>
	</div>
{% endblock %}

