{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'users/deps/css/profile.css' %}">
{% endblock %}

{% block content %}
	<div class="container my-2">
		<div class="profile-card container text-center">
			<h2>Profile Settings</h2>
			<form class="mt-4" enctype="multipart/form-data" method="post" action="{% url 'users:profile' %}">
				{% csrf_token %}
				<div class="mb-3">
					<img src="{% if user.image %}{{ user.image.url }}{% else %}https://via.placeholder.com/120{% endif %}"
					     alt="Avatar" class="avatar mb-3">
					<div class="file-upload mb-4">
						<input type="file" id="id_avatar" class="file-input" hidden name="image">
						<label for="id_avatar" class="file-label">Choose Image</label>
						{% if form.image.errors %}
							<div class="alert alert-secondary text-white bg-black ">{{ form.image.errors }}</div>
						{% endif %}
					</div>
				</div>
				<div class="mb-3">
					<label for="id_first_name" class="form-label">First name</label>
					<input type="text" class="form-control" id="id_first_name" name="first_name"
					       value="{{ form.first_name.value }}"
					       placeholder="Type your first name">
					{% if form.first_name.errors %}
						<div class="alert alert-secondary text-white bg-black ">{{ form.first_name.errors }}</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="id_last_name" class="form-label">Last name</label>
					<input type="text" class="form-control" id="id_last_name" name="last_name"
					       value="{{ form.last_name.value }}"
					       placeholder="Type your last name">
					{% if form.last_name.errors %}
						<div class="alert alert-secondary text-white bg-black ">{{ form.last_name.errors }}</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="id_username" class="form-label">Username</label>
					<input type="text" class="form-control" id="id_username" name="username"
					       value="{{ form.username.value }}"
					       placeholder="Type your username">
					{% if form.username.errors %}
						<div class="alert alert-secondary text-white bg-black ">{{ form.username.errors }}</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Type your email" name="email"
					       value="{{ form.email.value }}">
					{% if form.email.errors %}
						<div class="alert alert-secondary text-white bg-black ">{{ form.email.errors }}</div>
					{% endif %}
				</div>
				<button type="submit" class="btn btn-custom w-25">Save Changes</button>
			</form>
		</div>
	</div>
{% endblock %}