{% extends "base.html" %}
{% load static %}


{% block css %}
	<link rel="stylesheet" href="{% static "deps/css/footer.css" %}">
{% endblock %}

{% block content %}
	<div class="custom-shadow mt-5 pt-5 modal-content rounded">
		<div class="container p-4">
			<h2>{{ info.page_name.capitalize }}</h2>
			<p class="">{{ info.content }}</p>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<footer class="bg-black py-3">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; An1cer</p>
		</div>
	</footer>
{% endblock %}